<h2>By Capital</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- Search box -->
        <shared-search-box [placeholder]="'Search by capital'" [initialSearchValue]="initialSearchValue" (onSearchValue)="onSearchByCapital($event)" (onDebounce)="onSearchByCapital($event)"></shared-search-box>
    </div>
</div>

<div class="row">
    <div class="col">
        <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
        <countries-table [countries]="countries"></countries-table>
    </div>
</div>